{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
  	  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <!-- Custom styles for this template -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <link href="{% static '/css/shop-homepage.css' %}" rel="stylesheet">
  <link href="{% static '/css/chatbot.css' %}" rel="stylesheet">


</head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Golden Shoe - Summer Sandels</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'chat_app/css/shop-item.css' %}" rel="stylesheet">

  </head>
<style>




* {
  box-sizing: border-box;
}

#rating-ability-wrapper{
  display: none;
}

#rating{
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}



.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}
</style>
  <body>

    <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navedit navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Golden Shoe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
              </form>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'track' %}"">Order Tracking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
              <a class="btn btn-success btn-sm ml-3" href="#">
                    <i class="fa fa-shopping-cart"></i> Checkout
                    <span class="badge badge-light">2</span>
                </a>
        </ul>
      </div>
    </div>
  </nav>


    <div class="gps-strip thin student">
        <div class="activeMsg"><a href="/student-discount-code/"><span class="percent">20% Off</span></a></div>
        <div><a href="/student-discount-code/">Online Student Weekender</a></div>
        <div><a href="/student-discount-code/"><span>With</span> <img src="https://support.footasylum.co.uk/footasylum/images/student-hub/unidays-logo.svg" alt="Unidays Logo"></a></div>
      </div>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Categories</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Leather</a>
            <a href="#" class="list-group-item">Suave</a>
            <a href="#" class="list-group-item">Boots</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="https://embed.widencdn.net/img/redwing/g8gfilhja5/550x400px/RW01907C_MUL_N1_1115.jpeg?position=s&crop=no&color=ffffffff&u=lkbof4" alt="">
            <div class="card-body">
              <h3 class="card-title">CLASSIC MOC</h3>
              <h4>£69.99</h4>
              <p class="card-text">Practically identical to the iconic 877, the 875 is simply a shorter iteration. It’s six inches of premium Red Wing Oro Legacy leather combined with Goodyear welt construction, a Traction Tred rubber outsole and triple stitched quality.</p>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body" id="appe">
              <p>I spent all summer breaking in my pair, and I have to be honest, I thought my feet would break first. I had to wear them for a limited time, each day, but through fall and winter, I am wearing them daily and have never loved a pair of shoes more.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
              <hr>
              <p>I'm about a month in on a pair of 875's. As others note, the first few days were not the most comfortable. But that's over now and they just keep getting better. I applied a heavy coat of mink oil and warmed with lovey's hair dryer to get it to soak in before I ever put them on. They look and feel great. If there was one thing I would change it would be to add a pull tab on the heel. I still struggle a bit to get them on. Other than that they are perfect. I did buy in a store so got to try them on before purchase. Normally wear a 12 1/2 wide. 12 EE is perfect fit for me. Been a while since I've had Red Wings, but won't be without them again.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small><small class="text-muted">Posted by Anonymous on 3/1/17</small><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
              4.0 stars
              <hr>
              <p>I've wanted a boot with true ankle support, but not one that would chafe or bite into my skin. These do the trick admirably. They feel almost like they're made of glove leather around my ankle, but can be tightened up to really strengthen the ankle. Very quick break-in, just a couple days of wearing. Great sole as well, not woody and not squishy.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
              4.0 stars
              <hr>

            </div>
             <a class="btn btn-success btn-green" href="#rating-ability-wrapper" id="open-review-box">Leave a Review</a>

            <div class="form-group" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
      <span class="field-label-header">How would you rate the shoes?*</span><br>
      <span class="field-label-info"></span>
      Review<input type="text-area" id="rev" name="review" onfocusout="myFunction()"></input>
      <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
      </label>
      <h2 class="bold rating-header" style="">
      <span class="selected-rating">0</span><small> / 5</small>
      </h2>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
  </div>
        

          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>

<div class="card card-outline-secondary my-4">
<div id="rating">
    <span class="heading">Product Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.1 average based on 50 reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>6</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
</div>
</div>
</div>
    <!-- /.container -->

 <<div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Similar Items</h2>
          </div>

<div class="container">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm"><img class="d-block w-100" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRqxrIHanelEqGTg6Rb5qCIk7RDND65FukGA8PVMv6bJF-XavTp61jjJtY2DHItWHbz8GnR_UseO_4Sv1oSLtt6uEnuPVcVgRqz1mYceJLX8tGSdGYqvyikEdI&usqp=CAc" alt="1 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRqxrIHanelEqGTg6Rb5qCIk7RDND65FukGA8PVMv6bJF-XavTp61jjJtY2DHItWHbz8GnR_UseO_4Sv1oSLtt6uEnuPVcVgRqz1mYceJLX8tGSdGYqvyikEdI&usqp=CAc" alt="2 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRqxrIHanelEqGTg6Rb5qCIk7RDND65FukGA8PVMv6bJF-XavTp61jjJtY2DHItWHbz8GnR_UseO_4Sv1oSLtt6uEnuPVcVgRqz1mYceJLX8tGSdGYqvyikEdI&usqp=CAc" alt="3 slide"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm"><img class="d-block w-100" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRqxrIHanelEqGTg6Rb5qCIk7RDND65FukGA8PVMv6bJF-XavTp61jjJtY2DHItWHbz8GnR_UseO_4Sv1oSLtt6uEnuPVcVgRqz1mYceJLX8tGSdGYqvyikEdI&usqp=CAc" alt="4 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRqxrIHanelEqGTg6Rb5qCIk7RDND65FukGA8PVMv6bJF-XavTp61jjJtY2DHItWHbz8GnR_UseO_4Sv1oSLtt6uEnuPVcVgRqz1mYceJLX8tGSdGYqvyikEdI&usqp=CAc" alt="5 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRqxrIHanelEqGTg6Rb5qCIk7RDND65FukGA8PVMv6bJF-XavTp61jjJtY2DHItWHbz8GnR_UseO_4Sv1oSLtt6uEnuPVcVgRqz1mYceJLX8tGSdGYqvyikEdI&usqp=CAc" alt="6 slide"></div>
                </div>
            </div>
        </div>
    </div>
</div>




    <!-- Footer -->
    <footer class="py-5 bg-light">
      <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Golden Shoe 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>


<script>
    $(document).ready(function($){
      
  $(".btnrating").on('click',(function(e) {
  
  var previous_value = $("#selected_rating").val();
  
  var selected_value = $(this).attr("data-attr");
  $("#selected_rating").val(selected_value);
  
  $(".selected-rating").empty();
  $(".selected-rating").html(selected_value);
  
  for (i = 1; i <= selected_value; ++i) {
  $("#rating-star-"+i).toggleClass('btn-warning');
  $("#rating-star-"+i).toggleClass('btn-default');
  }
  
  for (ix = 1; ix <= previous_value; ++ix) {
  $("#rating-star-"+ix).toggleClass('btn-warning');
  $("#rating-star-"+ix).toggleClass('btn-default');
  }
  
  }));
  
    
});
</script>
    <script>
function myFunction() {
  var x = document.getElementById("rev");
  x.value = x.value.toUpperCase();
  $('#appe').append("<hr><p> " + x.value + "</p>")
  sessionStorage.setItem("review", x.value);  

}
</script>

<script>
  document.getElementById("appe").append(sessionStorage.getItem("review"));
</script>

</script>

    <script>
    $(document).ready(function(){
  $( "#open-review-box" ).click(function() {
  $( "#rating-ability-wrapper" ).show(1000);
});
});


</script>


<button class="open-button" onclick="openForm()">Live Chat</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

  </body>

</html>

